/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para los encabezados h1 y h2 */
h1, h2 {
    text-align: center;
}

/* Estilos para el contenedor principal de la página */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para la cabecera (header) */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right {
    display: flex;
    align-items: center;
}

/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: white;
}

.btn:hover {
    background-color: #0056b3;
}

/* Estilos específicos para el botón Log Out */
.header-right .btn {
    margin-left: auto; /* Mueve el botón hacia la derecha */
}

/* Estilos para las tablas */
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;
}

/* Estilos para los mensajes flash */
.flash-messages {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Estilos para los márgenes de los elementos */
.mb-3 {
    margin: 20px;
    text-align: center;
}

/* Estilos para los colores de los botones */
.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
}

/* Estilos para el fondo blanco de la tabla */
.bg-white {
    background-color: white;
}
