body {
    background-color: rgba(127, 255, 212, 0.5);
    background-image: url(https://images.unsplash.com/photo-1572262086204-3909bfc93ea0?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-top: 30px;
    overflow-y: hidden;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    max-width: 60%;
    margin: auto;
}

h1, h2, h3 {
    color: #ffff00;
}

ul {
    line-height: 1.6;
}

.redirection-button {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.redirection-button:hover {
    background-color: #3700ff;
}

.logo {
    background-image: url(https://lh4.googleusercontent.com/proxy/e4T5rn2yxbxlQP4JFBUw6UbR4H55_ztoUJEp5V_ROBofALhRb1iTWJLNY6zrOo6TdB6WQfA-FMPROxtVN0fCEX-XfjhYbZIVU7_02ipSjt_ip_s);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo .text-ar {
    font-size: 12px;
    color: white;
    background-color: red;
    padding: 2px 4px;
    border-radius: 3px;
    margin-right: 5px;
}
