body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
select,
button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("https://cdn-icons-png.flaticon.com/512/545/545680.png");
    background-size: 20px; /* Tamaño de la imagen */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Posición inicial de la imagen */
    padding-right: 30px;
    transition: background-position 0.3s ease-in-out; /* Animación de transición */
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa por encima */
}

select:focus {
    background-position: right 20px center; /* Nueva posición al hacer clic */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}